@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background: #1E1E1E;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
    list-style: none;
    text-decoration: none;
}

/* Header */

.header {
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background: #192123;
    box-shadow: 1px 5px 91px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    padding: 20px;
}

.logo-crabe {
    width: 220px;
    height: 82px;
}

.search-bar {
    background: #16282B;
    border: 1px solid transparent;
    border-radius: 4px;
    position: absolute;
    width: 574px;
    height: 38px;
    left: 529px;
    top: 21px;
    padding-left: 15px;
}



.search {
    background-color: #FF4E00;
    border: none;
    border-radius: 4px;
    position: absolute;
    width: 110px;
    height: 38px;
    left: 1118px;
    top: 21px;
    color: white;
}
/* Barre de serveurs */


.sidebar-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #192123;
}

.bar-title {
    display: flex;
    font-size: 20px;
    font-weight: 300;
    width: 55px;
    height: 28px;
    left: 34px;
    margin-top: 17px;
    margin-left: 20px;
    color: gray;
}

.container {
    display: flex;
    height: 100%;
}

.game-list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 24px;
}


.game-list-item {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 8px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid transparent;
    background: #192123;
}

.game-list-item:hover {
    background-color: #1f3034;
}

.minecraft {
    color: #FF4E00;
}

.firelabs {
    color: #FF4E00;
}

.sidebar-content-container {
    box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.4);
    width: 100%;
}

.sidebar-content-subtitle {
    color: white;
}

.sidebar-content-title {
    display: block;
    font-size: 48px;
    font-weight: bold;
    color: white;
}

.sidebar-content-subtitle {
    display: block;
    font-size: 20px;
    padding-top: 16px;
}


.sidebar-content-header {
    height: 40vh;
    width: 100%;
    /* place text center of the banner */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 25vh;
}


.sidebar-content-body {
    margin-top: 52px;
    width: 100%;
    padding: 0 25vh;
}

.servers-wrapper {
    display: grid;
    gap: 20px;
    justify-items: center;
}

.server {
    width: 100%;
    background-color: #16282B;
    padding: 4px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
}


.server-info {
    padding: 16px 16px 16px 32px;
    position: relative;
}

.server-info::before {
    content: "";
    position: absolute;
    left: 1.01%;
    right: 98.34%;
    top: 24.32%;
    bottom: 24.32%;
    background: #32B08A;
    border-radius: 20px;
}

.server-name-and-players {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.server-game-version-and-adress {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.server-version {
    display: block;
}

.server-name {
    font-size: 36px;
    font-weight: 600;
}

.server-players {
    font-size: 14px;
    font-weight: bold;
    background: #32B08A;
    padding: 5px;
    border-radius: 4px;
}






/* Column left */

/* .column-left {
    position: absolute;
    box-sizing: border-box;
    width: 280px;
    height: 1024px;
    left: 0px;
    top: 93px;
    background: #FFFFFF;
    border-right: 1px solid #C4C4C4;
}

.column-left .title-column h3 {
    font-family: Inter;
    font-weight: 500;
    font-size: 24px;
    align-items: center;
    margin-left: 24px;
}

.list-servers {
    position: absolute;
    border: 1px solid transparent;
    border-radius: 8px;
    width: 216px;
    height: 33px;
    margin-left: 20px;
    background: #FFDBDB;
}

.list-servers .firelabs {
    position: absolute;
    font-family: Inter;
    color: #B03932;
    font-weight: 500;
    font-size: 18px;
    padding-left: 60px ;
    top: -13px;
}

.list-servers .minecraft {
    position: absolute;
    border: 1px solid transparent;
    width: 155px;
    height: 33px;
    background: #DBFFE5;
    border-radius: 8px;
    position: absolute;
    font-family: Inter;
    color: #B03932;
    font-weight: 500;
    font-size: 18px;
    padding-left: 60px;
    margin-top: 45px;
} */